<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <clear />
        <add name="SwapConn" connectionString="Data Source=stat-1;Initial Catalog=swap;User ID=sa;Password=Edusci321" providerName="System.Data.SqlServer" />
        <add name="SwapEntities" connectionString="metadata=res://*/App_Code.SwapModel.csdl|res://*/App_Code.SwapModel.ssdl|res://*/App_Code.SwapModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=stat-1;Initial Catalog=swap;User ID=sa;Password=Edusci321;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
    <system.web>
        <sessionState mode="InProc" timeout="30" />
        <authentication mode="Forms">
            <forms defaultUrl="~/Landing.aspx" loginUrl="~/Landing.aspx" />
        </authentication>
        <profile>
            <providers>
                <clear />
                <add name="AspNetSqlProfileProvider" connectionStringName="SwapConn" applicationName="/" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
            </providers>
            <properties>
                <add name="FirstName" />
                <add name="LastName" />
                <add name="EMail" />
                <add name="ProfilePic" />
                <add name="Phone" />
                <add name="IsValidated" type="Boolean" />
                <group name="Location">
                    <add name="State" />
                    <add name="City" />
                    <add name="Zip" />
                </group>
            </properties>
        </profile>
        <roleManager enabled="true">
            <providers>
                <clear />
                <add name="AspNetSqlRoleProvider" connectionStringName="SwapConn" applicationName="/" type="System.Web.Security.SqlRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
                <add name="AspNetWindowsTokenRoleProvider" applicationName="/" type="System.Web.Security.WindowsTokenRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
            </providers>
        </roleManager>
        <customErrors mode="Off" defaultRedirect="~/Errors/DefaultError.aspx" redirectMode="ResponseRewrite" />
        <pages theme="SwapUserX"></pages>
        <membership userIsOnlineTimeWindow="30">
            <providers>
                <clear />
                <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="SwapConn" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="8" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
            </providers>
        </membership>
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
                <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
                <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
                <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
                <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
            </assemblies>
            <buildProviders>
                <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
            </buildProviders>
        </compilation>
    </system.web>
    <location path="Management">
        <system.web>
            <authorization>
                <allow roles="Managers" />
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="MyProfile">
        <system.web>
            <authorization>
                <deny users="?" />
            </authorization>
        </system.web>
    </location>
    <location path="Mail">
        <system.web>
            <authorization>
                <deny users="?" />
            </authorization>
        </system.web>
    </location>
    <location path="Search">
        <system.web>
            <authorization>
                <deny users="?" />
            </authorization>
        </system.web>
    </location>
    <system.net>
        <mailSettings>
            <smtp deliveryMethod="Network">
                <network enableSsl="false" host="localhost" password="Silence78" userName="veswap@veswap.com" />
            </smtp>
        </mailSettings>
    </system.net>
    <appSettings>
        <add key="Host" value="localhost" />
        <add key="EnableSsl" value="false" />
        <add key="AdminEmail" value="veswap@veswap.com" />
        <add key="Password" value="Silence78" />
        <add key="Port" value="25" />
    </appSettings>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="Landing.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>