
.alpha-table-container {
    width: 100%;
}

.alpha-table-container table {
    border: 2px solid gray;
    width: inherit;
    margin: 0 auto;
}

.alpha-table-container table th {
    padding: 5px;
    border: 1px solid black;
}

.alpha-table-container table td {
    padding: 5px;
    border: 1px solid black;
}